<div class="cards">
  <div class="card">
    <div class="triangle"></div>
<div class="card-block">
  <p>Сказочное заморское яство</p>
  <h1>Нямушка</h1>
  <h2>с фуа-гра</h2>
  <p>10 порций <br>мышь в подарок</p>
</div>
    <p class="card-text">
      Чего сидишь? Порадуй котэ, купи.
    </p>
  </div>
  <div class="card">
    <div class="triangle"></div>
    <div class="card-block">
      <p>Сказочное заморское яство</p>
      <h1>Нямушка</h1>
      <h2>с рыбой</h2>
      <p>10 порций <br>2 мыши в подарок</p>
    </div>
    <p class="card-text">
      Чего сидишь? Порадуй котэ, купи.
    </p>
  </div>
  <div class="card">
    <div class="triangle"></div>
    <div class="card-block">
      <p>Сказочное заморское яство</p>
      <h1>Нямушка</h1>
      <h2>с курой</h2>
      <p>100 порций <br>5 мышей в подарок <br>заказчик доволен</p>
    </div>
    <p class="card-text">
      Чего сидишь? Порадуй котэ, купи.
    </p>
  </div>
</div>
