<div class="cards">
  <div class="card" [ngClass]="{ invisible: checked, disabled: checked }" (click)="onCheckedDisabled()">
    <div class="card-block" (click)="onCheckedItem()">
      <p class="card-block__food blue">Сказочное заморское яство</p>
      <p class="card-block__food pink">Котэ не одобряет?</p>
      <h1>Нямушка</h1>
      <h2>с фуа-гра</h2>
      <p class="card-block__portions">
        <input type="text" class="input-food" value="40 порций"
               placeholder="10 порций"
               [formControl]="control"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let num of filteredFood | async" [value]="num">
            {{num}}
          </mat-option>
        </mat-autocomplete>
        <br><span>мышь в подарок</span></p>
      <div class="oval blue"><p class="oval-m">0,5</p>
        <p class="oval-kg">кг</p></div>
    <div class="oval pink"><p class="oval-m">0,5</p>
      <p class="oval-kg">кг</p></div>
    </div>
    <p class="card-text blue">
      Чего сидишь? Порадуй котэ, <a class="card-text__link"
                                    (click)="onCheckedItem()">купи</a><a>.</a>
    </p>
    <p class="card-text pink">
      Печень утки разварная с артишоками.
    </p>
  </div>
  <div class="card" [ngClass]="{ invisible: selected, disabled: false }">
    <div class="card-block" (click)="onCheckedItemTwo()">
      <p class="card-block__food blue">Сказочное заморское яство</p>
      <p class="card-block__food pink">Котэ не одобряет?</p>
      <h1>Нямушка</h1>
      <h2>с рыбой</h2>
      <p class="card-block__portions">
        <input type="text" class="input-food" value="нажмите для выбора"
               placeholder="нажмите для выбора"
               [formControl]="control2"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let num of filteredFood | async" [value]="num">
            {{num}}
          </mat-option>
        </mat-autocomplete>
        <br><span>2 мыши в подарок</span></p>
      <div class="oval pink"><p class="oval-m">2</p>
        <p class="oval-kg">кг</p></div>
      <div class="oval blue"><p class="oval-m">2</p>
        <p class="oval-kg">кг</p></div>
    </div>
    <p class="card-text blue">
      Чего сидишь? Порадуй котэ, <a class="card-text__link" (click)="onCheckedItemTwo()"> купи</a><a>.</a>
    </p>
    <p class="card-text pink">
      Головы щучьи с чесноком да свежайшая сёмгушка.
    </p>
  </div>
  <div class="card" [ngClass]="{ invisible: used, disabled: false}">
    <div class="card-block" (click)="onCheckedItemThree()">
      <p class="card-block__food blue">Сказочное заморское яство</p>
      <p class="card-block__food pink">Котэ не одобряет?</p>
      <h1>Нямушка</h1>
      <h2>с курой</h2>
      <p class="card-block__portions">
        <input type="text" class="input-food" value="100 порций"
               placeholder="100 порций"
               [formControl]="control3"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let num of filteredFood | async" [value]="num">
            {{num}}
          </mat-option>
        </mat-autocomplete>
        <br><span>5 мышей в подарок</span>
        <br><span>заказчик доволен</span></p>
      <div class="oval blue"><p class="oval-m">5</p>
        <p class="oval-kg">кг</p></div>
      <div class="oval pink"><p class="oval-m">5</p>
        <p class="oval-kg">кг</p></div>
    </div>
    <p class="card-text blue">
      Чего сидишь? Порадуй котэ, <a class="card-text__link" (click)="onCheckedItemThree()"> купи</a><a>.</a>
    </p>
    <!--    <p class="card-text food-end" (change)="onCheckedItem()">-->
    <!--   Печалька, с курой закончился-->
    <!--    </p>-->
    <p class="card-text pink">
      Филе из цыплят с трюфелями в бульоне.
    </p>
  </div>
</div>
