<div class="cards" [formGroup]="toppings">
  <div class="card">
    <mat-checkbox class="checkbox">
    </mat-checkbox>
<div class="card-block" formControlName="pepperoni">
  <p class="card-block__food">Сказочное заморское яство</p>
  <h1>Нямушка</h1>
  <h2>с фуа-гра</h2>
  <p class="card-block__portions">
    <input type="text" class="input-food" value="40 порций"
           placeholder="10 порций"
           [formControl]="control"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let num of filteredFood | async" [value]="num">
        {{num}}
      </mat-option>
    </mat-autocomplete><br><span>мышь в подарок</span></p>
  <div class="oval"><p class="oval-m">0,5</p><p class="oval-kg">кг</p></div>
</div>
    <p class="card-text">
      Чего сидишь? Порадуй котэ, <a class="card-text__link" formControlName="pepperoni">купи</a><a>.</a>
    </p>
  </div>
  <div class="card">
    <mat-checkbox class="checkbox">
    </mat-checkbox>
    <div class="card-block" formControlName="extracheese">
      <p class="card-block__food">Сказочное заморское яство</p>
      <h1>Нямушка</h1>
      <h2>с рыбой</h2>
      <p class="card-block__portions">
        <input type="text" class="input-food" value="40 порций"
                                                 placeholder="40 порций"
                                                 [formControl]="control2"
                                                 [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let num of filteredFood | async" [value]="num">
            {{num}}
          </mat-option>
        </mat-autocomplete><br><span>2 мыши в подарок</span></p>
      <div class="oval"><p class="oval-m">2</p><p class="oval-kg">кг</p></div>
      </div>
    <p class="card-text">
      Чего сидишь? Порадуй котэ, <a class="card-text__link">купи</a><a>.</a>
    </p>
  </div>
  <div class="card">
    <mat-checkbox class="checkbox">
    </mat-checkbox>
    <div class="card-block" formControlName="mushroom">
      <p class="card-block__food">Сказочное заморское яство</p>
      <h1>Нямушка</h1>
      <h2>с курой</h2>
      <p class="card-block__portions">
        <input type="text" class="input-food" value="100 порций"
               placeholder="100 порций"
               [formControl]="control3"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let num of filteredFood | async" [value]="num">
            {{num}}
          </mat-option>
        </mat-autocomplete>
        <br><span>5 мышей в подарок</span>
        <br><span>заказчик доволен</span></p>
      <div class="oval"><p class="oval-m">5</p><p class="oval-kg">кг</p></div>
    </div>
    <p class="card-text food-end">
   Печалька, с курой закончился
    </p>
  </div>
</div>
